@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body,
html {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
										not supported by any browser */
    background-color: #e4f9f5 !important;
    height: 100% !important;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin: 0;
}

#temporitzador {
    margin-top: auto;
}

p {
    display: inline-block;
}

h4 {
    background-color: black;
    color: white;
}

/* carta*/
.carta {
    background-image: url(../media/mnatec.jpg);
    background-size: cover;
    height: 275px;
    width: 275px;
    margin: 5px;
    display: flex;
    justify-content: center;
    font-size: 0px;
    border: solid 1px;
    border-radius: 10px;
}

.carta.open {
    transform: rotateY(0);
    background: #dfdc25;
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.carta.show {
    font-size: 33px;
}

.carta.match {
    cursor: default;
    background: #3BCD10;
    font-size: 33px;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.carta.unmatched {
    animation-name: pulse;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    background: #e2043b;
}


.carta.disabled {
    pointer-events: none;
    opacity: 0.9;
}


#llista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    width: 1400px;
    height: 1300px;
    margin: auto;
    background-color: #11999e;
}

#container {
    width: 2505px;
    padding: 0;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-48%, 0%);
}

.cover {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.score {
    margin: 13% auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 900px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    position: relative;
}

#scr_head {
    text-align: center;
    font-weight: 600;
    font-size: 90px;
    color: black;
}

#scr_time {
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    color: black;
}

#scr_moves {
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    color: black;
}

#scr_points {
    margin-bottom: 2vh;
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    color: black;
}

/* animacions */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}