body {
    background-color: #eeeeee;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
}

.left {
    float: left;
}

.fas {
    color: #3d4d70;
    cursor: pointer;
}

.right {
    float: right;
}

#puntuacion-juego:hover {
    cursor: default;
}

.game {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#word {
    display: block;
    white-space: nowrap;
}

.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 5px solid rgb(145, 164, 199); /*#222A38*/
    margin: 0 10px;
    font-size: 90px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
}

#pannel {
    width: 875px;
    height: 735px;
    display: inline-block;
    margin-left: -36px; /*131px*/
}

#pannelLetter {
    width: 182px;
    height: 210px;
    margin: 5px 5px;
    float: left;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #11999e, #11999e, #11999e);
    font-size: 2.5em;
    box-shadow: 3px 3px 3px #11151c;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    /*text-align: center;
    vertical-align: middle;*/
    line-height: 210px;
}

#pannelLetterGreen {
    width: 182px;
    height: 210px;
    margin: 5px 5px;
    float: left;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #b4f2a1, #7fbe87, #4c8c4c);
    font-size: 2.5em;
    box-shadow: 3px 3px 3px #11151c;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    /*text-align: center;
    vertical-align: middle;*/
    line-height: 210px;
}

#pannelLetterRed {
    width: 182px;
    height: 210px;
    margin: 5px 5px;
    float: left;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f2a1a1, #be7f7f, #8c4c4c);
    font-size: 2.5em;
    box-shadow: 3px 3px 3px #11151c;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    /*text-align: center;
    vertical-align: middle;*/
    line-height: 210px;
}

/*
PROGRESS BAR
*/

.progressBar {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.barStatus {
    height: 16px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 1.75s linear;
    -moz-transition: 1.75s linear;
    -o-transition: 1.75s linear;
    transition: 1.75s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    width: 0%;
    color: white;
    background-color: #3d4d70;
}

.progreso {
    float: left;
    color: white;
    margin-top: -1px;
    margin-left: 3px;
}

.barStatus .porcentaje {
    display: inline-block;
    margin-top: -50px;
}

/**
MODAL
*/

.modal {
    background-color: rgba(0, 0, 0, .0001) !important;
    padding: 2em 3em;
    text-align: center;
    border-radius: .5em;
    display: none;
    z-index: 9999;
    color: white;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-55%, -25%);

}

button {
    font-size: 1.25em;
    font-weight: bold;
    background-color: #222A38;
    border: none;
    padding: .5em 1em;
    color: #fff;
    /*box-shadow: 0 0 0 2px rgb(40, 44, 58) inset;*/
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26);
    border-radius: .25em;
    cursor: pointer;
    transition: background .4s ease, color .4s ease;
    transform: translateY(-2px);
}

.modal-image {
    width: 40px;
    height: 45px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #48DB71;
    padding: 11px 10px 2px;
    margin-bottom: 2em;
}

.failure .modal-image {
    box-shadow: 0 0 0 2px rgb(219, 72, 72);
}

.modal-word {
    text-decoration: underline;
}

.tracking-in-contract-bck-top{-webkit-animation:tracking-in-contract-bck-top .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck-top .8s cubic-bezier(.215,.61,.355,1.000) both}

 @-webkit-keyframes tracking-in-contract-bck-top{0%{letter-spacing:.7em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-contract-bck-top{0%{letter-spacing:.7em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}

/**
CANVAS FIREWORKS
**/
canvas {
     display: none;
     position: fixed;
     top: 0;
}

/**
TIMER
**/

.timer
{
   width:200px;
   position:absolute;
   top:50%;
   left:79%;
   /*margin-left:-100px;*/
   margin-top:-100px;
}
.timer-container
{
   width:100%;
   height:0;
   padding-top:100%;
   background: #232e3f;
   overflow: hidden;
   position: relative;
}

.timer-left
{
   position:absolute;
   width:50%;
   height:100%;
   background:#476d97; /*red*/
   border-radius:200px 0 0 200px;
   transform:scale(.99);
   transform-origin:100% 50%;
   top:0;
   left:0;
}

.timer-right
{
   position:absolute;
   width:50%;
   height:100%;
   background:#476d97; /*red*/
   border-radius:0 100em 100em 0;
   top:0;
   left:50%;
   transform-origin: 0 50%;
   
}

.mask_right
{
   position:absolute;
   width:50%;
   height:100%;
   background: #232e3f;
   border-radius:0 100em 100em 0;
   top:0;
   left:50%;
   transform-origin: 0 50%;
   border: 10px solid #232e3f;
}

.mask_left
{
   content:'';
   display:block;
   position:absolute;
   width:50%;
   height:100%;
   background: #232e3f;
   border-radius:0 100em 100em 0;
   top:0;
   left:50%;
   transform-origin: 0 50%;
}

.timer-container.start .timer-right
{
   animation-name: right;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}
.timer-container.start .mask_right
{
   animation-name: mask;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}
.timer-container.start .mask_left
{
   animation-name: left;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}

@keyframes right
{
   0%    { transform: rotate(0deg) scale(.99); }
   100%  { transform: rotate(360deg) scale(.99); }
}

@keyframes left
{
   0%          { 
                  transform: rotate(0deg);
                  opacity:0;
               }
   49.9999%    { 
                  transform: rotate(0deg);
                  opacity:0;
               }
   50%         { 
                  transform: rotate(0deg);
                  opacity:1;
               }
   100%        { transform: rotate(180deg); }
}

@keyframes mask
{
   0%    { opacity:0; }
   49.999% {opacity:0;}
   50%   {opacity:1}
   100%  { opacity:1; }
}

#seconds {
    color: white;
    font-size: 1.4em;
}
 