.containerPregunta {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}
  
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
  
.lletraOpcio {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}
  
.textOpcio {
    padding: 1.5rem;
    width: 100%;
}

.correcte {
    background-color: #28a745;
}
  
.incorrecte {
    background-color: #dc3545;
}

#hud {
    display: flex;
    justify-content: space-between;
}
  
.hudPrefix {
    text-align: center;
    font-size: 2rem;
}
  
#temps{
    position:absolute;
    top:0;
    right:0;
    font-size: 6em;
    color: #56a5eb;
    padding-right: 10rem;
    padding-top: 6rem;
}

.barraText {
    text-align: center;
}
  
#barraProgres {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.5rem;
}
  
#estatBarraProgres {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
}