body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header{
    font-size: 4rem;
    text-align: center;
}
  
#chartdiv {
    width: 100%;
    height: 70vh;
}