body, html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #c7c7c7;
}
#container {
    width: 2505px;
    height: 1200px;
    padding: 0;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-48%, 0%);
}
.me {
    position: relative;
    background-size: 2400px 1200px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2.2px;
    margin-top: -0.5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.2s;
}
.full {
    height: 1200px;
    width: 2400px;
}
.me_0 {
    height: 399.99px;
    width: 399.99px;
    background-position: -0px -0px;
}
.me_1 {
    height: 399.99px;
    width: 399.99px;
    background-position: -399.99px -0px;
}
.me_2 {
    height: 399.99px;
    width: 399.99px;
    background-position: -799.99px -0px;
}
.me_3 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1199.97px -0px;
}
.me_4 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1599.96px -0px;
}
.me_5 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1999.95px -0px;
}
.me_6 {
    height: 399.99px;
    width: 399.99px;
    background-position: -0px -399.99px;
}
.me_7 {
    height: 399.99px;
    width: 399.99px;
    background-position: -399.99px -399.99px;
}
.me_8 {
    height: 399.99px;
    width: 399.99px;
    background-position: -799.98px -399.99px;
}
.me_9 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1199.97px -399.99px;
}
.me_10 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1599.96px -399.99px;
}
.me_11 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1999.95px -399.99px;
}
.me_12 {
    height: 399.99px;
    width: 399.99px;
    background-position: -0px -799.99px;
}
.me_13 {
    height: 399.99px;
    width: 399.99px;
    background-position: -399.99px -799.99px;
}
.me_14 {
    height: 399.99px;
    width: 399.99px;
    background-position: -799.99px -799.99px;
}
.me_15 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1199.97px -799.99px;
}
.me_16 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1599.96px -799.99px;
}
.me_17 {
    height: 399.99px;
    width: 399.99px;
    background-position: -1999.95px -799.99px;
}
.prevent_click {
    pointer-events: none;
}
.correct {
    border-radius: 0px;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    animation: corect 0.5s ease;
    animation-delay: 0.2s;
}
@keyframes corect {
    0% {
        transform: scale(1);
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   }
    50% {
        transform: scale(1.25);
        border-radius: 5px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   }
    100% {
        transform: scale(1);
        border-radius: 0px;
        box-shadow: 0 0 0 transparent, 0 0 0 transparent;
   }
}
.pre_img {
    margin-top: 60px;
    width: 100%;
    position: absolute;
    left: 350px;
}
.pre_img li {
    display: inline-block;
    list-style: none;
}
.pre_img li img {
    width: 450px;
    height: 225px;
    position: relative;
    cursor: pointer;
}
.cover {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.score {
    margin: 13% auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 900px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    position: relative;
}
.cover1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.score1 {
    width: 80vh;
    margin: 13% auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 900px;
    right: 40%;
    top: 15%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    position: absolute;
}

#src_name {
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    color: black; 
}

.src_input {
    text-align: center;
    font-weight: 600;
    font-size: 90px;
    color: black;
}
#scr_head {
    text-align: center;
    font-weight: 600;
    font-size: 90px;
    color: black;
}
#scr_time {
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    color: black;
}
#scr_moves {
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    color: black;
}
#scr_points {
    margin-bottom: 2vh;
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    color: black;
}
.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px 45px;
}
.reset {
    position: absolute;
    margin: 0 auto;
    padding: 18px 45px;
    left: 50%;
    transform: translate(-50%, 1000px);
}
.OK {
    padding: 8px 25px;
    float: none;
    cursor: pointer;
}
.button {
    z-index: 999;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.button:active {
    border-bottom: 1px solid #bd3e31;
}
.i {
    text-align: center;
    font-weight: 550;
    color: black 3;
}
body {
    font-weight: 300;
    background: #b4f2ea;
}
.pie {
    width: 270px;
    height: 270px;
    display: block;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    float: left;
    margin: 2em;
}
.pie .block {
    position: absolute;
    background: black;
    width: 270px;
    height: 270px;
    display: block;
    border-radius: 50%;
    top: 10px;
    left: 4px;
}
.timeClock {
    font-size: 120px;
    position: absolute;
    top: 25%;
    left: 15%;
    color:white;
}
